*.bak
*.html
*.old
*.tar.gz
*~
/.build
/Test2-*/
Build
MYMETA.*
Makefile
POD_TEMPLATE.POD
TODO
Test-Simple-*
_build
blib/
cover_db/
pm_to_blib
t2_lib
t2s_lib
template.POD
template.pod
test*.pl
test.pl
