language: perl
perl:
  - "5.8"
  - "5.10"
  - "5.12"
  - "5.14"
  - "5.16"
  - "5.18"
  - "5.24"
  - "5.26"
  - "5.28"
  - "5.30"
before_install:
  - eval $(curl https://travis-perl.github.io/init) --auto
notifications:
  slack:
    rooms:
      - perl-test2:kI7LQjG4iRjIqA2JTl770A5F#general
    on_success: change
